<h1>Listing Videos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for video <- @videos do %>
    <tr>
      <td><%= video.title %></td>
      <td><%= link "Edit", to: Routes.video_path(@conn, :edit, video) %></td>
      <td>
        <%= link "Delete", to: Routes.video_path(@conn, :delete, video),
                            method: :delete,
                            data: [confirm: "Are you sure?"] %>
      </td>
      <td>
        <%= link "Watch", to: Routes.watch_path(@conn, :show, video), class: "button" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Video", to: Routes.video_path(@conn, :new) %></span>
